@if (!answeredAll()) {
	<div class="card mt-5">
		<div class="card-body">
			<p class="card-text">{{ currentFlashcard().front }}</p>
			<button (click)="updateShowBack()" class="btn btn-primary">Exibir Verso</button>
		</div>
	</div>
	@if (showBack()) {
	<div class="card mt-2">
		<div class="card-body">
			<p class="card-text">{{ currentFlashcard().back }}</p>
			<div class="mt-5">
				<button (click)="goToNextFlashcard()" class="btn btn-success">Avançar</button>
			</div>
		</div>
	</div>
	}
} @else {
	<p>Você respondeu todos os flashcards!</p>
	<div class="mt-5">
		<a [routerLink]="['/my-flashcards']" class="btn btn-secondary">Voltar</a>
	</div>
}
